/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
/* shared style */
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
   color: aliceblue;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
  
}
nav li a {
    text-decoration: none;
    color:  #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0, auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 65%
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title .Quick-list{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.teams-title .our{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.teams-title .feature{
    color: #FF900E;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.fact-title{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-light-gray{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
/* facts card style */
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;

}
.facts-card-container{
    display: flex;
    justify-content: space-around;

}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 20px;

}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}



/* responsive media query */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 15px;
    }
    nav{
        flex-direction: column;
    }
}


